.list-wrapper {
	max-width: 540px
}
.member-photo-wrapper {
	.missing-photo {
		display:none;
	}
	&.image-error {
		.member-photo {
			display:none;
		}
		.missing-photo {
			display:block;
		}
	}
}

.missing-photo .fa-user {
	font-size:4rem;
}


@include media-breakpoint-up(sm) {
	.member-photo-wrapper  {
		max-width: 30%;
	}
	.member-info-wrapper {
		max-width: 70%;
	}
	.missing-photo .fa-user {
		font-size:5rem;
	}
}
@include media-breakpoint-up(md) {
	.missing-photo .fa-user {
		font-size:6rem;
	}
}
@include media-breakpoint-up(lg) {
	.member-photo-wrapper {
		max-width: 40%;
	}
	.member-info-wrapper {
		max-width: 60%;
	}
	.list-wrapper {
		max-width: 720px
	}
}
